EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyD9Xyh2sQoZsWg0KOm6zGlIY4pZNGxylX4
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=finance-pro-7005a.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=finance-pro-7005a
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=finance-pro-7005a.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=17189360096
EXPO_PUBLIC_FIREBASE_APP_ID=1:17189360096:web:d9feead00d6e6032d29b85
